.slider-container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slider-item {
  position: relative;
  height: 80vh;
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-info {
  position: absolute;
  bottom: 60px;
  left: 60px;
  max-width: 600px;
  color: white;
  z-index: 10;
}

.slider-info h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.slider-info p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 500px;
}

/* Dark overlay like Netflix */
.slider-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.2)
  );
}
